# secrets
.env

# IDEs
.idea
.ipynb_checkpoints
.vscode

# data excluded from source control
/data_dump/

# never commit notebooks - convert them to .py first
*.ipynb

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]